
/*

Autor=Héctor Espinosa Torres
Fecha=05-dic-2014
Licencia=default
version=1.0
Descripcion=

*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-dic-2014, 13:54:32
    Author     : Héctor Espinosa Torres
*/

body{
    background-color: yellowgreen;
    text-align:center;
}
div{color:blue;}